:global(body) {
  height: 100%;
}
:global(html) {
  height: 100%;
}
:global(#app) {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boardContainer {
  position: relative;
}
