.tile {
  width: 50px;
  height: 50px;
}

.row {
  display: flex;
}

.row:nth-child(even) .tile:nth-child(even) {
    background-color: pink;
}

.row:nth-child(even) .tile:nth-child(odd) {
    background-color: hotpink;
}

.row:nth-child(odd) .tile:nth-child(odd) {
  background-color: pink;
}

.row:nth-child(odd) .tile:nth-child(even) {
  background-color: hotpink;
}
