.button {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  margin-left: 8px;
  cursor: pointer;
}

.input {
  height: 100%;
  border: 1px solid pink;
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-weight: 300;
  height: 2rem;
  padding: 8px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
